<html>
<body>
<form method="post" action="delete">
    <input type="number" name="id" placeholder="Enter id"/>
    <button type="submit">Delete</button>
</form>
<h3>{{message}}</h3>
<form method="get" action="/review/try">
    <button type="submit">Back</button>
</form>
</body>
</html>