<html>
<body>
<div>
    <form method="post" action="delete">
        <input type="text" name="deletedId" placeholder="Enter id to delete"/>
        <button type="submit">Delete</button>
    </form>
</div>
</body>
</html>