<html>
<body>
   <div>
        <form method="post">
            <input type="text" name="username" placeholder="Enter username"/>
            <button type="submit">Add</button>
        </form>
       <form method="post" action="filter">
           <input type="text" name="filterByUsername" placeholder="Find admin"/>
           <button type="submit">Find</button>
       </form>
    </div>
   <div><b>The list of Admins:</b></div>
    {{#admins}}
        <div>
            <b>{{admin_id}}</b>
            <span>{{username}}</span>
        </div>
    {{/admins}}
</body>
</html>